



.headernav .button {
    color: #ff764e;
    box-sizing: border-box;
    color:white;
    font-size:20;
    text-align: center;
    border: 1px solid ;
    height: 60px;
    width: 170px;
    font-family: sans-serif;
    padding:5px;
    margin:10px;
    border-radius:10px;

}

.learn-about-the-park{
    background-color:#5ED3EB;
    box-sizing: border-box;
    color:white;
    font-size:20;
    text-align: center;
    border: 1px solid ;
    height: 60px;
    width: 170px;
    font-family: sans-serif;
    padding:5px;
    margin:10px;
    border-radius:10px;

}

.get-involved{

background-color:#5ED3EB;
    box-sizing: border-box;
    color:white;
    font-size:20;
    text-align: right;
    border: 1px solid ;
    height: 60px;
    width: 170px;
    font-family: sans-serif;
    padding:5px;
    margin:10px;
    border-radius:10px;

}




.section2{
    box-sizing: content-box;
    width:10px;
    height: 200px;
    margin:20px 70px;
    padding: 20px;
    border-width: 10px;
   

}
.img-box{
    width:400px;
    height: 200px;
    margin:20px 70px;
    padding: 20px;
    border-width: 10px;
    align-content: center;

}
.yosheader{
    width:400px;
    height: 200px;
    margin:20px 70px;
    padding: 20px;
    border-width: 10px;
    align-content: center;

}
.section2{

  width: 80px;
  height: 60px;
  border: 5px solid green;
  font-size: 30px;
  text-align: center;
  padding-top:10px;
  margin:40px;
}


.section3{
    width: 80px;
  height: 60px;
  border: 5px solid green;
  font-size: 30px;
  text-align: center;
  padding-top:10px;
  margin:40px;

}
.section4{
    width: 80px;
  height: 60px;
  border: 5px solid green;
  font-size: 30px;
  text-align: center;
  padding-top:10px;
  margin:40px;
}
.footernav{
    
}